body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 550;
}
h2{
    font-size: 50px;
    font-weight: 550;
}
#orange{
    color:orange;
}
.first-section{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 78%;
    border-radius: 6%;
}
.link-button{
    text-decoration: none;
   background-image:linear-gradient(orange,tomato);
    color: white;
    padding: 10px 28px;
    font-weight: 700;
    border-radius: 6%;
}
.half-width-1 img{
    width: 78%;
    border-radius: 27%;
    padding-left: 62px;
}
.cv-button{
    text-decoration: none;
   background-image:linear-gradient(orange,tomato);
    color: white;
    padding: 10px 28px;
    font-weight: 700;
    border-radius: 6%;
}
