body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 550;
}
h2{
    font-size: 50px;
    font-weight: 550;
}
#orange{
    color:orange;
}
.first-section{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 78%;
    border-radius: 6%;
}
.link-button{
    text-decoration: none;
   background-image:linear-gradient(orange,tomato);
    color: white;
    padding: 10px 28px;
    font-weight: 700;
    border-radius: 6%;
}
.half-width-1 img{
    width: 78%;
    border-radius: 27%;
    padding-left: 62px;
}
.cv-button{
    text-decoration: none;
   background-image:linear-gradient(orange,tomato);
    color: white;
    padding: 10px 28px;
    font-weight: 700;
    border-radius: 6%;
}
.card-design{
    box-shadow: -8px 6px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 6px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 27px 0px rgba(0,0,0,0.75);
    border-left: 2px solid tomato;
    margin-left: 77px;
    padding-left: 36px;
    text-align: revert;
    margin-right: 60px;
}
#footer-part{
    text-align: center;
}